<div class="filmPanel">
	<div class="arrows">
		<span class="glyphicon glyphicon-chevron-down"></span>
		<span class="glyphicon glyphicon-chevron-up"></span>
	</div>
	<div class="filmDetails">
		<h5> <%=title%> : <span class="label label-info"><%=year%></span></h5>
		<img src="<%=posters.profile%>" class="img-thumbnail img-responsive"  alt="<%=title%>"/>
	</div>

	<div class="filmScores">
		<p class="bg-info">Critics rating: <span class="label label-danger"><%=ratings.critics_score%></span></p>
		<p class="bg-info">Audience Score: <span class="badge"><%=ratings.audience_score%></span></p>
	</div>
</div>